.prueba{
	color:red;
}
#errores{
	background-color: red;
}
#col_izq{
	border-style:solid;
	border-color: blue;
	width: 20%;
}
#col_dere{
	border:2px;
	width:75%;
	border-style:solid;
	border-color: red;
}
#col_izq, #col_dere{
	float:left;
}
#errores{    /* errores que salen en header */
	background-color:red;width:100%;
}